<web-app>
    <servlet>
        <servlet-name>
        registerUser
        </servlet-name>
        <servlet-class>
        Source.StoreStudent
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
        registerUser
        </servlet-name>
        <url-pattern>
        /register
        </url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>
        loginUser
        </servlet-name>
        <servlet-class>
        Source.LoginVerf
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
        loginUser
        </servlet-name>
        <url-pattern>
        /login
        </url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>
        modifyUser
        </servlet-name>
        <servlet-class>
        Source.ModifyStudent
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
        modifyUser
        </servlet-name>
        <url-pattern>
        /modify
        </url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>
        deleteUser
        </servlet-name>
        <servlet-class>
        Source.DeleteStudent
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
        deleteUser
        </servlet-name>
        <url-pattern>
        /delete
        </url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>
        createUser
        </servlet-name>
        <servlet-class>
        Source.CreateStudent
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
        createUser
        </servlet-name>
        <url-pattern>
        /create
        </url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>
        genEmail
        </servlet-name>
        <servlet-class>
        Source.GenerateEmail
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
        genEmail
        </servlet-name>
        <url-pattern>
        /generate
        </url-pattern>
    </servlet-mapping>
</web-app>    